examples/*.py
.cproject
.project
.pydevproject
.settings
**/.DS_Store
.clang_complete
*~
*.pyc
*.pyo
build*/
examples/grc/*.py
external/lib/decode_mac_origin.cc

# local/runtime

ttt.log
out_run_local.log
.vscode/
